.slider-container {
  background-color: #9bbbfc;
  border-radius: 0.4rem;
  height: 195px;
  margin-top: 40px;
  max-width: 1220px;
  padding: 40px;
  padding-bottom: 8px;
  padding-top: 16px;
}

.card-slider {
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  text-align: center;
}

.btn-category {
  background-color: white;
  border: none;
  color: #6c757d;
  cursor: pointer;
  font-size: 11px;
  margin: 0;
  padding-top: 0.5rem;
  text-align: center;
}

.categories-slider {
  margin: 0 -4px;
}

.img-category {
  border-style: none;
  height: 40px;
  margin: 0 40px;
  padding: 2px;
  width: 40px;
}

.text h5 {
  color: white;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

.text {
  align-items: center;
  display: flex;
  font-size: 13px;
  margin-bottom: 8px;
}
