.container-home {
  align-items: center;
  background: #ecf3fb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  width: 100%;
}

.ret-header {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 150px;
  padding: 20px 40px 40px;
  position: relative;
  width: 1260px;
}

.container-products {
  background-color: white;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 820px;
  margin-top: 20px;
  max-width: 1220px;
  padding: 15px;
}


.container-propagandas {
  background-color: white;
  border-radius: 0.4rem;
  margin-top: 40px;
  max-width: 1260px;
  padding-left: 10px;
  padding-top: 20px;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

main {
  margin-left: 20px;
  width: 70%;
}

.div-info {
  display: flex;
  flex-direction: row;
}

.div-nav {
  display: inline-block;
  height: 36px;
  margin-top: 86px;
  width: 100%;
}

.container-categories {
  display: block;
  height: 56px;
  width: 1260px;
}

.span-text {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

.div-propagandas {
  padding: 20px;
}
