.products-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 5px;
  width: 100%;
}

.container-inner {
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.container-inner img {
  max-width: 120px;
}

.card {
  background-color: white;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  height: 315px;
  padding: 5px;
  width: 224px;
}

.div-info-text {
  gap: 10px;
  height: 162px;
  padding: 35px 5px;
  text-align: right;
  width: fit-content;
}

.product-title {
  color: black;
  font-size: 14px;
  font-weight: 400;
  height: 38px;
  overflow: hidden;
}

.div-price {
  height: 45px;
  width: 236px;
}

.btn-buy {
  background: #f9ce69;
  border: none;
  border-radius: 4px;
  color: #2d313d;
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
  width: 100px;
}

.curr-price {
  color: #4741a6;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 10px;
}

.shipping {
  color: #4741a6;
  font-size: 14px;
  font-weight: 400;
}

.div-img {
  display: flex;
  justify-content: center;
}

.div-btn {
  display: flex;
  justify-content: right;
  margin-bottom: 5px;
  padding-right: 5px;
}
