.body-container {
  height: 266px;
  min-width: 1260px;
  position: relative;
}

.img-container {
  height: 210px;
  padding: 0 8px;
  width: 384px;
}

.img-propaganda {
  object-position: top;
  position: absolute;
}
