.icon-btn {
  background-color: #9bbbfc;
  border: none;
  border-radius: 10px 0 0 10px;
  color: white;
  height: 40px;
  left: 1146px;
  width: 40px;
}

.div-cart {
  align-items: center;
  background-color: #223593;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  height: 40px;
  left: 1082px;
  margin-left: auto;
  top: 42px;
  width: 80px;
}

.cart-quantity {
  color: white;
  font-size: 14px;
  font-weight: 600;
  height: 18px;
  line-height: 18px;
  padding-left: 10px;
  right: 18px;
  width: 8px;
}

.container-quantity {
  height: 18px;
  padding-left: 5px;
  top: 22px;
  width: 16px;
}

